.gradient-custom {
/* fallback for old browsers */
background: #dc143c;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, #DC143C, #8A2BE2);

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, #DC143C, #8A2BE2)
}